<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE suite SYSTEM 'http://testng.org/testng-1.0.dtd'>
<suite name='Idexx Automation test suite' parallel='tests' thread-count='15'>

<parameter name='suiteExecuted' value='Regression' />
<parameter name='executionType' value='Sequential' />
<listeners>
	<listener class-name="org.uncommons.reportng.HTMLReporter" />
	<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	<listener class-name="com.automation.utilities.AssignTestPriorityTransformer" />
</listeners>
	<test name="chromeWindowsLocal" preserve-order='false'>
			<parameter name="browser" value="chrome"></parameter>
			<parameter name="automationName" value="selenium"></parameter>
			<parameter name="browserVersion" value="46.0"></parameter>
			<parameter name="platformName" value="windows 7"></parameter>
			<parameter name="environment" value="local"></parameter>
		<!-- <parameter name="userrole" value="Finance"></parameter> -->
		 <classes>
			<class name="com.Idexx.scripts.Contacts">
				<methods>

					 <include name="TestCreateOrder" />
					<include name="TestSaveOrder" />
					  <include name="TestPurchaseSavedOrder" />
					<include name="TestDeleteOrder" />



				</methods>
			 </class>

		 </classes>
	</test>

</suite>